@page "/Account/Profile/Analytics"
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Analytics | Vex</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>Analytics</CardTitle>
    </CardHeader>
    <CardBody>
        <p>Analytics content goes here...</p>
    </CardBody>
</Card>

@code{
}