@page "/Profile"
@attribute [Authorize]
@inject IUserService UserService
@inject IAuth0Service Auth0Service

<PageTitle>Profile | Vex</PageTitle>

<Card>
    <CardHeader class="flex justify-between items-center">
        <CardTitle class="flex flex-col">
            <div class="flex gap-2 items-center">
                @userModel?.Name
                <Badge Color="Color.Primary">
                    <small class="text-sm">@userModel?.Role</small>
                </Badge>
            </div>
            <small class="text-sm">@userModel?.Email</small>
        </CardTitle>
        <Image Source="@userModel?.Picture" Text="@userModel?.Name" />
    </CardHeader>
</Card>

@code {
    HttpContext? HttpContext;
    private UserModel? userModel;

    protected override async Task OnInitializedAsync()
    {
        userModel = await UserService.GetUserModelAsync();

        var user = await Auth0Service.GetUserInfoAsync(HttpContext);

        Console.WriteLine(user);
    }
}