@page "/"

<PageTitle>Dashboard | Vex</PageTitle>

<div id="Home">
    <h1>Dashboard</h1>
    <p>Welcome to your new app!</p>
    <p>Use the menu on the left to navigate through the app.</p>
    <p>Happy coding!</p>
</div>